html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f2027;
    color: white;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar a, .login-nav-btn {
    color: gray;
    text-decoration: none;
    margin-left: 25px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #00c6ff;
    bottom: -4px;
    left: 0;
    transition: 0.3s;
}

.navbar a:hover::after {
    width: 100%;
}

.admin-link {
    background: #ff4b2b;
    padding: 6px 15px;
    border-radius: 20px;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1502877338535-766e1452684a") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.glass-card {
    background: rgba(255,255,255,0.1);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.primary-btn {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border: none;
    padding: 14px 35px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn:hover {
    transform: scale(1.05);
}

/* STATS */
.stats-section {
    display: flex;
    justify-content: space-around;
    padding: 100px 40px;
    background: #111;
    text-align: center;
}

.stat h2 {
    font-size: 40px;
    color: #00c6ff;
}

/* SECTIONS */
.section {
    padding: 100px 80px;
    text-align: center;
}

.section.dark {
    background: #111;
}

/* FOOTER */
footer {
    background: black;
    padding: 20px;
    text-align: center;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #1c1c1c;
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

/* ANIMATION */
@keyframes fadeIn {
    from {opacity:0; transform:translateY(30px);}
    to {opacity:1; transform:translateY(0);}
}

/* MOBILE */
@media(max-width:768px){
    .stats-section {
        flex-direction: column;
        gap: 40px;
    }
}

